*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines 1rem as 10px, since the default is 16px and 62.5% * 16 => 10 
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}