.group {
  width: 49%;
  display: inline-block;

  @include respond(tab-port) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.input {
  display: none;
  &:checked + label .radio-button::after {
    opacity: 1;
  }
}

.label {
  font-size: $default-font-size;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;

  .radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      height: 1.3rem;
      width: 1.3rem;
      display: block;
      content: '';
      border-radius: 50%;
      @include abs-center;
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
}
